/* Styling your calendar is up to you however here are some styles that 
have worked well for others. Add these to your main CSS file. */
#full-clndr {
  font-weight: 700;
}
#full-clndr .clndr-controls {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #414141;
  color: white;
}
#full-clndr .clndr-controls .clndr-button {
  width: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#full-clndr .clndr-controls .clndr-button:hover {
  opacity: 0.5;
}
#full-clndr .clndr-grid .days-of-the-week {
  background-color: #3883a3;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
  float: left;
  width: 14.2857%;
  padding: 15px;
  text-align: center;
  color: white;
}
#full-clndr .clndr-grid .days .day,
#full-clndr .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: #ebebeb;
  border-bottom: 2px solid white;
}

#full-clndr .clndr-grid .days .day.event .day-number,
#full-clndr .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid #3883a3;
  cursor: help;
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number,
#full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
  opacity: 0.3;
}
#full-clndr .clndr-grid .days .today {
  background-color: white;
}
#full-clndr .event-listing .event-listing-title {
  padding: 15px;
  background-color: #71bbd2;
  text-align: center;
  color: white;
}
#full-clndr .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
#full-clndr .event-listing .event-item-date {
  
  font-weight: 400;
}

/* Remove margins on devices 768px (col-sm-*) and up */
@media (min-width: 768px) {
  #full-clndr .clndr-grid {
    padding-right: 0;
  }
  #full-clndr .event-listing {
    padding-left: 0;
  }
}​