<!-- Slick carousel module dependencies -->

<!-- Make sure jQuery is declared before any slick.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- FontAwesome is used for the previous/next arrows. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/stylesheets/slick.css">
<link rel="stylesheet" href="/stylesheets/slick-theme.css">
<script src="/javascripts/slick.js"></script>

<script type="text/javascript">

  $(document).ready(function(){

    // Here are all the availible settings. 
    // To get started just use $('.slick-carousel').slick();

    $('.slick-carousel').slick({
      accessibility: true,
      adaptiveHeight: false,
      appendArrows: $(element),
      appendDots: $(element),
      arrows: true,
      asNavFor: null,
      prevArrow: '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
      nextArrow: '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
      autoplay: false,
      autoplaySpeed: 3000,
      centerMode: false,
      centerPadding: '50px',
      cssEase: 'ease',
      customPaging: function(slider, i) {
        return '<button type="button" data-role="none" role="button" aria-required="false" tabindex="0">' + (i + 1) + '</button>';
      },
      dots: false,
      dotsClass: 'slick-dots',
      draggable: true,
      easing: 'linear',
      edgeFriction: 0.35,
      fade: false,
      focusOnSelect: false,
      infinite: true,
      initialSlide: 0,
      lazyLoad: 'ondemand',
      mobileFirst: false,
      pauseOnHover: true,
      pauseOnDotsHover: false,
      respondTo: 'window',
      responsive: null,
      rows: 1,
      rtl: false,
      slide: '',
      slidesPerRow: 1,
      slidesToShow: 1,
      slidesToScroll: 1,
      speed: 500,
      swipe: true,
      swipeToSlide: false,
      touchMove: true,
      touchThreshold: 5,
      useCSS: true,
      variableWidth: false,
      vertical: false,
      verticalSwiping: false,
      waitForAnimate: true,
      zIndex: 1000
      });

  });​

</script>
