/* This will ensure that the images are centered vertically and horizontally in the thumbnail container. */
.gallery .thumbnail {
  display: block;
  padding-bottom: 100%;
  position: relative;
}
.gallery .thumbnail > .img-responsive {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}​